{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<div class="container mt-5">
    <h1>List of Passages</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Passage Text</th>
            </tr>
        </thead>
        <tbody>
            {% for passage in passages %}
            <tr>
                <td>{{ passage.id }}</td>  <!-- passage_id -->
                <td>{{ passage.text }}</td>  <!-- passage_text -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}