{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<div class="container mt-5">
    <h1>List of Questions</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Question</th>
                <th>Section</th>
                <th>Subsection</th>
            </tr>
        </thead>
        <tbody>
            {% for question in questions %}
            <tr>
                <td>{{ question.id }}</td>
                <td>{{ question.text }}</td>
                <td>{{ question.section }}</td>
                <td>{{ question.subsection }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}