{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Update Question</h1>
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ wtf.form_field(form.question_id) }}
        </div>
        <div class="form-group">
            {{ wtf.form_field(form.question_text) }}
        </div>
        <div class="form-group">
            {{ form.section.label(class="form-control-label") }}
            {{ form.section(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.subsection.label(class="form-control-label") }}
            {{ form.subsection(class="form-control") }}
        </div>

        <div class="form-group">
            {{ wtf.form_field(form.submit, class_="btn btn-primary") }}
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        var subsectionChoices = {
            'mathematics': [
                'algebra', 'mordern_maths', 'areas_volumes', 'number_theory', 'trigonometry', 'arthematic', 'geometry_circles_triangles'
            ],
            'physics': [
                'laws_of_motion', 'work_energy_power', 'gravitation', 'properties_solids_fluids', 'electrostatics', 'current_electricity', 'magnetism', 'optic'
            ],
            'english': [
                'antonyms', 'synonyms', 'passage', 'grammar', 'idioms'
            ],
            'reasoning': [
                'numerical_reasoning', 'verbal_reasoning'
            ]
        };

        var sectionDropdown = $('#section');
        var subsectionDropdown = $('#subsection');

        // Populate subsection dropdown based on the current section value
        var currentSectionValue = sectionDropdown.val();
        populateSubsectionDropdown(currentSectionValue);

        sectionDropdown.change(function () {
            var selectedSection = $(this).val();
            populateSubsectionDropdown(selectedSection);
        });

        function populateSubsectionDropdown(selectedSection) {
            subsectionDropdown.empty();

            if (selectedSection in subsectionChoices) {
                var choices = subsectionChoices[selectedSection];
                $.each(choices, function (index, choice) {
                    subsectionDropdown.append($('<option>', {
                        value: choice,
                        text: choice
                    }));
                });
            } else {
                subsectionDropdown.val('');  // Set value to an empty string if no choices are available
            }
        }
    });
</script>
{% endblock %}