<!DOCTYPE html>
<html>
<head>
    <title>Test</title>
    <style>
        /* removes selection */
        body {
            user-select: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
        }

        /* doesn't allow to print */
        @media print {
            body {
                display: none;
            }
        }
    </style>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="">
</head>
<body>
    <h1>Test</h1>
    <p>Time remaining: <span id="timer">90:00</span></p>
    <form method="post" action="{{ url_for('test') }}">
        <!-- Add hidden input fields to store start time and penalty time -->
        <input type="hidden" id="start_time" name="start_time" value="">
        <input type="hidden" id="penalty_time" name="penalty_time" value="">

        {% for section, questions in test_questions.items() %}
        <h2>{{ section }}</h2>
        {% for question in questions %}
        <div class="question">
            <p>{{ question.text }}</p>
            {% if question.question_image_data %}
            <img src="data:image/png;base64,{{ question.question_image_data.hex() }}" alt="Question Image">
            {% endif %}
            {% for option in question.options %}
            <div>
                <input type="radio" name="question{{ question.id }}" value="{{ option.id }}">
                <label>{{ option.text }}</label>
                {% if option.option_image_data %}
                <img src="data:image/png;base64,{{ option.option_image_data.hex() }}" alt="Option Image">
                {% endif %}
            </div>
            {% endfor %}
            <button class="clear-selection" style="display: none;">Clear Selection</button>
        </div>
        {% endfor %}
        {% endfor %}
        <button type="submit">Submit</button>
    </form>

    <script>
        $(document).ready(function() {
            $('input[type="radio"]').change(function() {
                var clearButton = $(this).closest('.question').find('.clear-selection');
                clearButton.show();
            });

            $('.clear-selection').click(function(e) {
                e.preventDefault(); // Prevent form submission
                var questionDiv = $(this).closest('.question');
                questionDiv.find('input[type="radio"]').prop('checked', false);
                $(this).hide(); // Hide the "Clear Selection" button
            });
        });
    </script>
</body>
</html>
